<h2>List of Posts</h2>
<hr>
<a href="/admin/posts/add"><button class="btn btn-success">New Post</button></a>

{{#each posts}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{title}}</h4>
            <p>{{description}}</p>
            <br>
            <small>{{date}}</small>
            <br>
            <small>Categoria: {{category.name}}</small>
            <br>
            <br>
            <form id="edit_form"  style="display: inline;" method="POST" action="/admin/posts/edit/{{_id}}" > 
                <button class="btn btn-success">
                Edit
                </button>
            </form>
            <form id="delete_form" class="ml-2" style="display: inline;" method="POST" action="/admin/posts/delete/{{_id}}" onSubmit="return confirm('Are you sure you wish to delete {{name}}?');">
                
                <button  class="btn btn-danger">
                Delete
                </button>
            </form>
        </div>
        
    </div>
{{else}}
    <h5>There are no posts</h5>

{{/each}}